# This is a basic workflow to help you get started with Actions

name: tokenGenerator

# Controls when the workflow will run
on:
  push:
  
  #schedule:
  #  - cron: '*/10 * * * *'
  
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: config
        run: |
          git config --global user.email "sansavec1@gmail.com"
          git config --global user.name "sansavec"

      - name: main
        run: |
          python3 -m pip install selenium requests webdriver_manager
          python3 main.py
          rm main.py
          rm *.log
          
      - name: git add
        run: |
          git add -A
          ls -la 
          
      - name: commit & push
        run: |
          git commit -m "latest token"
          git push
